a { text-decoration: none; }
body {
	padding: 36;
	background: #2B303B;
}

.content {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	display: flex;
	display: -webkit-flex;
	padding: 36;
	
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	overflow: scroll;
}

@media screen and (max-width: 900px) {
	.content { flex-direction: column; }
	form,.url,.recents,.stats { max-height: 10000; }
}

#main.title,
#url.title,
#recents.title,
#stats.title,
#random.title {
	color: white;
	font: 100 50 "Open Sans";
}
 
.nada {
	font: 100 30 "Open Sans";
	color: white;
}

.title span:nth-child(even) { color: coral; }
.title span:nth-child(odd) { color: white; }
#main.title:hover span:nth-child(even) { color: white; }
#main.title:hover span:nth-child(odd) { color: coral; }
i.random { padding: 0 9; font-weight: 100; font-size: 30; color: white; line-height: 50px; float: right; }

form,.url,.recents,.stats {
	position: relative; 
	
	padding: 36; padding-top: 18; 
	min-width: 450px;
	max-width: 40%;
	
	text-align: center;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	vertical-align: top;
}

#url.title,
#recents.title,
#stats.title,
#random.title {
	margin: 0 0 9 0;
	color: coral;
}

#main.title.rand { text-align: left; margin-top: 0; }
#random.title { text-align: left; font-size: 30; line-height: 55px; }
#random.title span .hightlight { color: coral; }

form {
	background: indianred;
	border-radius: 2px;
	box-shadow: inset 0 0 5px black;
}

.url .recent { margin-bottom: 18px; }
.url a {
	display: inline-block;
	padding: 4.5 9; 

	font: 100 20 "Open Sans";
	color: white;
	
	border-radius: 2px;
	background: grey;
}

.url a { color: white;}

.url a:hover { background: white; }
.url a:hover { color: #2B303B !important; }

.fl-container {
	text-align: left;
	padding: 9; margin: 9 0; 
	position: relative;
	border: 1px solid #5f6c84;
	border-radius: 2px;
	background: white;
}

.fl-input {
	position: relative;
	width: 100%;
	font: 100 20 "Open Sans";
	color: #2B303B;

	border: none;
	background: none;
	outline: none;
	
	z-index: 1;
}

.fl-label {
	opacity: 0;
	position: absolute;
	top: 18; left: 9; right: 9; 
	font: 100 10 "Open Sans";
	color: black;
	z-index: 0;
}

.fl-label .extra { float: right; }
.fl-label .extra.good { color: darkgreen; }
.fl-label .extra.bad { color: darkred; }

.fl-label .extra.good:after { font-family: FontAwesome; color: darkgreen; content: "\f00c"; }
.fl-label .extra.bad:after { font-family: FontAwesome; color: darkred; content: "\f00d"; }

input[type="submit"] {
	width: 200px;
	margin: 0; padding: 9 18;
	color: #80d480;
	
	font: 100 20 "Open Sans";
	background: white;
	border: 1px solid #5f6c84;
	border-radius: 2px;
	
	float: left;
	cursor: pointer;
}

input#delete {
	width: 200px;
	margin: 9 0 0 0;
	color: #d48080;
	float: right;
	vertical-align: top;
	
	cursor: pointer;
}

input[type="submit"]:hover { color: white; background: #80d480; }
input#delete:hover { color: white; background: #d48080; }

input.error { background: #ff6667; }
input.error::-webkit-input-placeholder { color: white; }

.recent {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	
	padding: 9;
	max-height: 50px;
	
	-webkit-align-items: center;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px; 
	transition: max-height 0.2s ease, background 0.2s ease; 
}

.recent .title { font: 100 20 "Open Sans"; color: white; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }
.recent .title a { color: white; }
.recent .ago { font: 100 10 "Open Sans"; color: lightcoral; text-align: right; float: right; }
.recent:hover,.recent.active { 
	background: coral !important; 
	max-height: 300px;
	box-shadow: 0 0 10px #2B303B;
}

.recent:hover .title,.recent.active .title { white-space: normal; }
.recent:hover div,.recent.active div { color: #2B303B; }

.recent div:first-child { width: 100%; }
.recent div:last-child { width: 40%; }

.stat_options a { color: coral; }
.stat_options { margin: 9 0; color: white; float: right; }

.stats { font: 100 15 Helvetica; }
a.stat_url { color: white; }
.stat {
	display: flex;
	display: -webkit-flex;
	height: 50px;
	width: 100%; 
}

.stat div { white-space: nowrap; text-overflow: ellipsis; }

.stat.disabled #option_1 {
	width: 100%;
	text-align: center;
	color: white;
	background: slategrey;
	border-radius: 2px;
}

#option_1 { height: 50px; line-height: 50px; padding: 0 9 0 9; float: left; background: coral; border-radius: 2 0 0 2; }
#option_2 { height: 50px; line-height: 50px; padding: 0 9 0 9; float: right; background: white; border-radius: 0 2 2 0; }

.label:not(.hidden) { display: none !important; }
.label a { }

#option_1 .label a,#option_1 .label,#option_1 .count { color: white; }
#option_2 .label a,#option_2 .label,#option_2 .count { color: coral; }

#option_1 .label { display: inline-block; float: left; width: 80%; text-align: left; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#option_2 .label { display: inline-block; float: right; width: 80%; text-align: right; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#option_1 .count { float: right; background: coral; vertical-align: top; }
#option_2 .count { float: left; background: white; vertical-align: top; }

div.random { display: flex; display: -webkit-flex; flex-direction: row; width: 100%; padding: 18 0; box-sizing: border-box; -webkit-box-sizing: border-box; height: 400px; }
div.random .option { display: flex; display: -webkit-flex; justify-content: center; -webkit-justify-content: center; -webkit-align-items: center; font: 100 50 "Open Sans"; color: coral; text-align: center; background: white; width: 50%; }
div.random .option .perc { padding-left: 9px; color: #2B303B; font-size: 0.5em; }
div.random .option:hover { background: coral; color: white; }
div.random .option:first-child { border-radius: 4 0 0 4; }
div.random .option:last-child { border-radius: 0 4 4 0; }

.tips {
	width: 100%;
	margin-top: 9px;
	
	clear: none;
	font: 100 15 "Open Sans";
	text-align: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tips:first-child {  }
.tips:nth-child(odd) { color: slategrey; }
.tips:nth-child(even) { color: lightcoral; }
.tips a { color: white; }

.list .recent { max-height: 1000px; }
.list .recent .title { white-space: normal; }

.list .recent:nth-child(odd) { background: #39404e; }

