a { text-decoration: none; }
body {
	padding: 36px;
	background: #2B303B;
}

body.no-scroll { overflow: hidden; }

.content {
	position: relative; top: 50%; bottom: 0; left: 0; right: 0;
	display: flex;
	display: -webkit-flex;
	margin-top: -250px;
	padding: 36;
	
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-align-items: baseline;
}

.title {
	margin: 0 0 9 0;
	font: 100 50 "Open Sans";
	color: white;
	white-space: nowrap;
}

.title.dark-bg { color: white; }
.title.light-bg { color: #2B303B; }

.subtitle {
	font: 100 30 "Open Sans";	
	color: white;
}
 
.nada {
	font: 100 30 "Open Sans";
	color: white;
}

.title span:nth-child(even) { position: relative; top: 2px; }
.title span:nth-child(odd) { font-size: 0.8em; }
.title.center { text-align: center !important; }

.title.light-bg span:nth-child(even),.subtitle.light-bg span:nth-child(even) { color: #2B303B; }
.title.light-bg span:nth-child(odd),.subtitle.light-bg span:nth-child(even) { color: white; }
.title.dark-bg span:nth-child(even),.subtitle.dark-bg span:nth-child(even) { color: white; }
.title.dark-bg span:nth-child(odd),.subtitle.dark-bg span:nth-child(even) { color: coral; }

a.title.light-bg:hover span:nth-child(even),.subtitle.light-bg:hover span:nth-child(even) { color: white; }
a.title.light-bg:hover span:nth-child(odd),.subtitle.light-bg:hover span:nth-child(even) { color: #2B303B; }
a.title.dark-bg:hover span:nth-child(even),.subtitle.dark-bg:hover span:nth-child(even) { color: coral; }
a.title.dark-bg:hover span:nth-child(odd),.subtitle.dark-bg:hover span:nth-child(even) { color: white; }

#logo:hover span:nth-child(even) { color: white; }
#logo:hover span:nth-child(odd) { color: #2B303B; }

.nav {
	padding: 12.5;	
	font-size: 25;
	
	color: white;
}

.nav:hover { color: #2B303B; }
.nav-container {
	float: right;
}

#main,#submission,#recents,#stats {
	position: relative; 
	
	padding: 36; padding-top: 18; 
	width: 45%;
	
	text-align: center;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
}

span.highlight { color: coral; }

form {
	background: indianred;
	border-radius: 2px;
	box-shadow: inset 0 0 5px black;
}

.share {
	display: inline-block;
	padding: 4.5 9; 

	font: 100 20 "Open Sans";
	color: white;
	
	border-radius: 2px;
	background: grey;
}

.share:hover { background: white; color: #2B303B; }

.fl-container {
	text-align: left;
	padding: 9; margin: 9 0; 
	position: relative;
	border: 1px solid #5f6c84;
	border-radius: 2px;
	background: white;
}

.fl-input {
	position: relative;
	width: 100%;
	font: 100 20 "Open Sans";
	color: #2B303B;

	border: none;
	background: none;
	outline: none;
	
	z-index: 1;
}

.fl-label {
	position: absolute;
	height: 1em;
	top: 18; left: 9; right: 9; 
	font: 100 10 "Open Sans";
	color: black;
	opacity: 0;
	z-index: 0;
}

.fl-label .fl-extra { float: right; }
.fl-label .fl-extra.good { color: darkgreen; }
.fl-label .fl-extra.bad { color: darkred; }

.fl-label .fl-extra.good:after { font-family: FontAwesome; color: darkgreen; content: "\f00c"; }
.fl-label .fl-extra.bad:after { font-family: FontAwesome; color: darkred; content: "\f00d"; }

input[type="submit"],input#broken {
	margin: 0; padding: 9 18;
	color: #80d480;
	
	font: 100 20 "Open Sans";
	background: white;
	border: 1px solid #5f6c84;
	border-radius: 2px;
	
	float: left;
	cursor: pointer;
	outline: none;
}

input#broken {
	margin: 9 0 0 0;
	color: #d48080;
	float: right;
}

input[type="submit"]:hover { color: white; background: #80d480; }
input#broken:hover { color: white; background: #d48080; }

input.error { background: #ff6667; }
input.error::-webkit-input-placeholder { color: white; }

#recents { top: 0; }
.fifty-fifty {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	
	padding: 9;
	color: white;
	
	-webkit-align-items: center;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px; 
	transition: background 0.2s ease; 
}

.fifty-fifty .title { width: 80%; font: 100 20 "Open Sans"; margin: 0; text-align: left; white-space: normal; word-wrap: break-word; }
.fifty-fifty .ago { width: 20%; font: 100 10 "Open Sans"; color: coral; text-align: right; float: right; }
.fifty-fifty .divider { width: 50px; border-left: 1px solid black; }
.fifty-fifty .stats { width: 40px; margin-left: 4.5px; font: 100 10 "Open Sans"; color: white; text-align: right; float: right; border-left: 1px dotted coral; }
.fifty-fifty:hover, .fifty-fifty.highlight { 
	background: coral !important; 
}

.fifty-fifty:hover .title,
.fifty-fifty.highlight .title,
.list .fifty-fifty .title { white-space: normal; }

.fifty-fifty:hover *,.fifty-fifty.highlight * { color: #2B303B; }
.fifty-fifty a { color: white; }
.fifty-fifty .title { width: 100%; }
.fifty-fifty .ago { width: 40%; }

.fifty-fifty:nth-child(odd) { background: #39404e; }
#preview { margin-top: 9; }

.stat_options a { color: coral; }
.stat_options { margin: 9 0; color: white; float: right; }

#stats { font: 100 15 Helvetica; }
a.stat_url { color: white; }
.stat {
	display: flex;
	display: -webkit-flex;
	height: 50px;
	width: 100%; 
}

.stat div { white-space: nowrap; text-overflow: ellipsis; }

.stat.disabled #option_1 {
	width: 100%;
	text-align: center;
	color: white;
	background: slategrey;
	border-radius: 2px;
}

#option_1 { height: 50px; line-height: 50px; padding: 0 9 0 9; float: left; background: coral; border-radius: 2 0 0 2; }
#option_2 { height: 50px; line-height: 50px; padding: 0 9 0 9; float: right; background: white; border-radius: 0 2 2 0; }

.label:not(.hidden) { display: none !important; }
.label a { }

#option_1 .label a,#option_1 .label,#option_1 .count { color: white; }
#option_2 .label a,#option_2 .label,#option_2 .count { color: coral; }

#option_1 .label { display: inline-block; float: left; width: 80%; text-align: left; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#option_2 .label { display: inline-block; float: right; width: 80%; text-align: right; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#option_1 .count { float: right; background: coral; vertical-align: top; }
#option_2 .count { float: left; background: white; vertical-align: top; }

.random { display: flex; display: -webkit-flex; flex-direction: row; width: 100%; padding: 18 0; box-sizing: border-box; -webkit-box-sizing: border-box; height: 400px; }
.random .option { display: flex; display: -webkit-flex; justify-content: center; -webkit-justify-content: center; -webkit-align-items: center; font: 100 50 "Open Sans"; color: coral; text-align: center; background: white; width: 50%; }
.random .option .perc { padding-left: 9px; color: #2B303B; font-size: 0.5em; }
.random .option:hover { background: coral; color: white; }
.random .option:first-child { border-radius: 4 0 0 4; }
.random .option:last-child { border-radius: 0 4 4 0; }

.tips {
	width: 100%;
	margin-top: 9px;
	
	clear: none;
	font: 100 15 "Open Sans";
	text-align: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tips:first-child {  }
.tips:nth-child(odd) { color: slategrey; }
.tips:nth-child(even) { color: lightcoral; }
.tips a { color: white; }

.list .recent { max-height: 1000px; }
.list .recent .title { white-space: normal; }

.list .recent:nth-child(odd) { background: #39404e; }


@media screen and (max-width: 1000px) {
	#main,#submission,#recents,#stats { width: 100%; }
	.content { flex-direction: column; -webkit-flex-direction: column; margin-top: 0; top: 0; }
	#recents { padding: 0; margin: 0; }
	#recents .fifty-fifty { max-height: 300px; }
	#recents .fifty-fifty .title { white-space: normal; }
}

@media screen and (max-width: 600px) {
	#main,#submission,#recents,#stats { width: 100%; }
	.content { flex-direction: column; -webkit-flex-direction: column; margin-top: 0; top: 0; padding: 0; }
	#recents { padding: 0; margin: 0; }
	#recents .fifty-fifty { max-height: 300px; }
	#recents .fifty-fifty .title { white-space: normal; }
}
